<h1>Craft jobs</h1>

<h2>Create new craft job</h2>

<h4>Name</h4>
<input type="text" class="form-control">

<h4>Schedule</h4>

<div class="btn-group">
    <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'None'">None</label>
    <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Hour'">Once a hour</label>
    <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Day'">Once a day</label>
    <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Week'">Once a week</label>
</div>

<div class="btn-group">

    <button type="button" class='btn btn-default' (click)="incrementCounter()">Create</button>
</div>

<h2>Existing craft jobs</h2>


