<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->

  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
  </system.webServer>

  <configSections>
    <section name="akka"
             type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>

  <akka>
    <hocon>
      <![CDATA[
          akka {
               akka.suppress-json-serializer-warning = on
               loggers = ["Akka.Logger.NLog.NLogLogger, Akka.Logger.NLog"]
               stdout-loglevel = DEBUG
               loglevel = DEBUG
               log-config-on-start = on        
               actor {                
                  debug {  
                        receive = on 
                        autoreceive = on
                        lifecycle = on
                        event-stream = on
                        unhandled = on
                  }
               }
          }
      ]]>
    </hocon>
  </akka>
</configuration>
